<section class="about-page">
  <h1>{{ page.title }}</h1>

  <p>Posts page rendered through Liquid.</p>

  {% for post in posts %}
	<article>
	  <h2>{{ post.title }}</h2>
	  <p>{{ post.content }}</p>
	  <button class="like-button" data-liked="{{ post.liked }}">Like</button>
	</article>
  {% endfor %}
  <p>Likes posts count: <span id="likes-count"></span></p>
</section>
